@import "@styles/variables";

.register-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 80vh;

  animation: slideInRegister 0.5s;

  @keyframes slideInRegister {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 15vw;

    .input-container {
      margin-bottom: 15px;
    }

    h1 {
      margin-bottom: 30px;
    }

    .button-container {
      margin: 30px 0;
    }
  }

  .ad-del {
    width: 2px;
    background-color: $border-color;
    height: 100%;
    margin: 50px;
  }
}