@import "@styles/variables";

.login-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 80vh;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }

  animation: slideInLogin 0.5s;

  @media screen and (max-width: 768px) {
    animation: none;
    position: relative;
  }

  @keyframes slideInLogin {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 15vw;

    @media screen and (max-width: 768px) {
      width: 70vw;
    }

    .input-container {
      margin-bottom: 15px;
    }

    h1 {
      margin-bottom: 30px;
    }

    .button-container {
      margin: 30px 0;
    }
  }

  .side {
    width: 2px;
    background-color: $border-color;
    height: 100%;
    margin: 50px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}