@import "@styles/variables";

$button-font-size: 1rem;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 25px;
  background: $primary-color;
  color: white;
  border: 0;
  border-radius: 30px;
  font-size: $button-font-size;

  &:hover {
    background: $secondary-color;
  }
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 25px;
  background: $border-color;
  color: white;
  border: 0;
  border-radius: 30px;
  font-size: $button-font-size;

  &:hover {
    background: #f54848;
  }
}