@import "@styles/variables";

.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: white;
  z-index: 10;

  .nav-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
    border-bottom: 1px solid $border-color;
    background-color: $background-color;

    .deli-container {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .name {
      padding: 0;
      margin: 0;
      color: $primary-color;
      font-size: 30px;
      font-weight: bolder;
      font-family: Ravie, serif;
    }

    .icon {
      fill: $border-color;
      width: 25px;
      height: 25px;
      padding-top: 12px;

      &:hover {
        fill: $primary-color;
      }
    }
  }
}